* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
}

li {
  list-style: none;
}

/* Header navigation */
.navigation {
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
}
.navigation a {
  text-decoration: none;
  color: inherit;
  opacity: 0.5;
}
.navigation a:hover,
.navigation a:active {
  opacity: 0.9;
}

.navigation ul {
  padding-right: 8px;
}
.navigation li {
  text-decoration: underline;
}

#logo {
  margin: 10px;
  height: 50px;
}

.navItems {
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

/* Banner and Mission Statement */
#banner {
  margin: 0 auto;
  width: 1200px;
  height: 700px;
  background-image: url("./images/img-mission-background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission {
  background-color: black;
  flex-basis: 1200px;
}
.mission h2 {
  margin-top: 12px;
}
.mission h4 {
  margin-bottom: 12px;
}

/* Tea of the Month */
#teaList {
  width: 1000px;
  height: 700px;
  margin: 60px auto;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
.teasOTM h2 {
  margin-bottom: 0;
}
.teasOTM h4 {
  margin: 16px auto;
}

.items ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.items li>img {
  margin-bottom: 10px;
  height: 200px;
}
.items li>h4 {
  margin: 0;
}
.items li {
  width: 300px;
}

/* Store Locations */
.locations {
  margin: 0 auto;
  width: 1200px;
  height: 530px;
  background-image: url("./images/img-locations-background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.locations h2 {
  margin-bottom: 0;
}

.storeAddress ul {
  padding-left: 0;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.storeAddress li {
  background-color: black;
  width: 300px;
  display: flex;
  flex-direction: column;
  opacity: 1;
}
.storeAddress li:hover,
.storeAddress li:active {
  border: 1px solid rgb(202, 79, 79);
  cursor: pointer;
}
/* Company Contact Information */

/* Footer */